{% extends "core/base.html" %}
{% block body_block %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="jumbotron">
  <form method="POST" action="{% url 'core:post_tweet' %}">
      {% csrf_token %}
      <input type="text" name="submit_tweet" value="">
      <input type="submit" name="" value="POST">
  </form>
      {% for t in tweets_all %}
          <li> {{ t }} </li>
              <button>Like</button>
              <br><br>
          {% endfor %}
  </div>
</div>
{% endblock %}