{% extends "core/base.html" %}
{% block body_block %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="jumbotron">
    <h1>{{ profile_user.user.username }}</h1>
        <p> BIO: {{ profile_user.bio }} </p>
        <img src="{{ profile_user.profile_pic.url }}">
  <form method="post" action="{% url 'core:get_profile' userid=profile_user.user_id %}">
      {% csrf_token %}
  {%  ifnotequal profile_user.user  me  %}
      {% if follow_count == 1 %}
          <button>UNFOLLOW</button>
      {% else %}
        <button>FOLLOW</button>
      {% endif %}
  {% endifnotequal %}
  </form>
      <a href="{%  url 'core:get_followers' userid=profile_user.user_id %}" ><h3>Followers</h3></a>
      <a href="{%  url 'core:get_following' userid=profile_user.user_id %}" ><h3>Following</h3></a>
      <h3>TWEETS</h3><br>
      {% for t in all_tweets %}
          <li>{{ t.contents }}</li><br>
          <form method="POST" action="{% url 'core:post_like' tweet_id=t.id %}" >
          {% csrf_token %}
                <input type="submit" value="Like">
          </form><br><br>
      {% endfor %}

  </div>
</div>
{% endblock %}