{% extends "core/base.html" %}
{% block body_block %}
<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="jumbotron">
  <h3>Enter the word you want related tweets for:</h3>
  <form method="GET" action="{% url 'core:search_tweet' %}">
      <input type="text" name="search_word" value="">
      <input type="submit" name="" value="submit">
  </form>
      {% for t in tweets %}
          <li>{{ t.contents }}<br>by:{{ t.user }}</li>
      {% endfor %}
  </div>
</div>
{% endblock %}